* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Mermaid";
  src: url("../fonts/Mermaid1001.ttf");
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Mermaid";
}

body {
  display: grid;
  grid-template-areas:
    "header  header header "
    "main main main"
    "section section section"
    "footer footer footer";

}

/*MENU INICIO*/
header {
  grid-area: header;
  background-color: #04488d;

}

/*header nav {
  display: flex;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li {
  display: flex;
  margin-left: 10px;
}
header nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
*/

/*MAIN HOME INICIO*/
main {
  grid-area: main;
  background-color: rgb(55, 83, 53);
  height: 100%;
  width: 100%;
  /*display: grid;*/
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

/*SECTION HOME INICIO*/
.SectionHome {
  grid-area: section;
  background-color: rgb(80, 80, 107);
  min-height: 400px;
  max-height: 1400px;
  /* Control de la altura con base en el texto del div*/
  height: auto;
  word-wrap: break-word;
  margin: 0 auto;
  display: block;
  overflow: auto;
  /*display: grid;*/
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-template-rows: repeat(4, 500px);
  grid-template-columns: repeat(4, 500px);
  justify-content: space-around;
  align-content: center;
}

.SectionHome div {
  background-color: rgba(27, 135, 185, 0.589);

}

.SectionHome h5 {
  text-align: center;
  text-decoration: underline;
}

/*SUB MENU PAGINAS INICIO*/
.SubMenu {
  height: 100px;
  background-color: #16a085;
  grid-area: main;
  align-items: center;
}


/*NOSOTROS INICIO*/
.SectionAbout {
  grid-area: section;
  background-color: white;
  height: auto;
  /*display: grid;*/
  display: flex;
  flex-wrap: wrap;
  grid-template-rows: repeat(1, 300px);
  grid-template-columns: repeat(2, 300px);
  /* justify-items: center;*/
  align-items: center;
  align-content: center;
}


.AboutMe {
  color: black;
  overflow: hide;
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}


/*SERVICIOS INICIO*/
.Servicios_ {
  min-height: 630px;
  max-height: 1400px;
  grid-area: section;
  /* display: grid;*/
  display: flex;
  grid-template-rows: repeat(4, 150px);
  grid-template-columns: repeat(4, 150px);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


/*PLANES INICIO*/
.SectionPlanes {
  grid-area: section;
  max-height: 900px;
  min-height: 610px;
  /* display: grid;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  grid-template-rows: repeat(4, 400px);
  grid-template-columns: repeat(4, 400px);

}

.Tarjeta {
  width: 300px;
  padding-right: 10px;

  @media (max-widht: 480px) {
    grid-template-columns: repeat(1 / span 3);
  }

}

/*PORTAFOLIO*/
.Container-Img{
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
 

}
.Container-Img .Box-Img figure{
  width: 100%;
  height: 100%;
}
.Container-Img .Box-Img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Container-Img .Box-Img:nth-child(1){
  grid-column-start: span 2;
}
.Container-Img .Box-Img:nth-child(4){
  grid-row-start: span 2;
}
@media screen and (max-width:800px){
  .Container-Img{
      width: 95%;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      grid-template-rows: 200px;
  }
  .Container-Img .Box-Img:nth-child(1){
      grid-column-start: span 1;
  }
}
@media screen and (max-width:500px){
  .Container-Img {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
  }
  .Container-Img .Box-Img img{
      height: 200px;
  }
}
  /*CONTACTO*/
  .Contacto_ {
    grid-area: section;
    height: auto;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
  }

  .contact-wrapper>* {
    padding: 1em;
  }

  .contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact-form form label {
    display: block;
  }

  .contact-form form p {
    margin: 0;
    padding: 1em;
  }

  .contact-form form .block {
    grid-column: 1 / 3;
  }

  .contact-form form button,
  .contact-form form input,
  .contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #000000;
    border-bottom: 1px solid #d63031;
  }

  .contact-form form button {
    background: #64c799;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
  }

  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
  }

  /* MEDIA QUERY CONTACTO*/
  @media(min-width: 582px) {
    .contact-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper>* {
      padding: 2em;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p {
      text-align: left;
    }
  }

  /*FOOTER*/
  footer {
    grid-area: footer;
    text-transform: capitalize;
    background-color: #24262b;
    padding: 80px 0;


  }

  footer p {
    color: #ffffff;
  }

  .ContainerFooter {
    max-width: 800px;
    margin: 0 auto;
  }

  .footer-row {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-links {
    width: 25%;
    padding: 0 15px;

  }


  .footer-links h4 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;

  }

  .footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;


  }

  .footer-links ul li a:hover {
    color: #ffffff;
    padding-left: 70px;


  }

  .social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 0, .2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;

  }