* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Mermaid";
    src: url("../fonts/Mermaid1001.ttf");
}

h1,
h2,
h3,
h4,
h5,
p {
    font-family: "Mermaid";
}

body {
    display: grid;
    grid-template-areas:
        "header  header header "
        "main main main"
        "section section section"
        "footer footer footer";

}

