/*MENU INICIO*/
header {
    grid-area: header;
    background-color: $primary-background;

}

/*header nav {
  display: flex;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li {
  display: flex;
  margin-left: 10px;
}
header nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
*/