/*MENU INICIO*/
header {
  grid-area: header;
  background-color: $primary-background;

  nav {
    display: flex;
    margin-left: 15px;

    ul {
      display: flex;
      list-style-type: none;

      a:hover {
        transform: scale(1.1);

      }
    }
  }
}