
/*MAIN HOME INICIO*/
main {
    grid-area: main;
    background-color: rgb(55, 83, 53);
    height: $full-height;
    width: $full-width;
    /*display: grid;*/
    display: flex;
    flex-flow: wrap;
}

/*SUB MENU PAGINAS*/
.submenu {
    grid-area: main;
    height: 150px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,121,76,1) 35%, rgba(0,212,255,1) 100%);
    align-items: center;
    color: white;
    align-items: center;
    justify-content: center;

    h1, h5 {
        text-align: center;
    }
}

.submenuhome {
    grid-area: section;
    height: auto;
    align-items: center;
    color: white;
    h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}
}
