/*SECTION HOME INICIO*/
.SectionHome {
    grid-area: section;
    background-color: rgb(80, 80, 107);
    min-height: 700px;
    max-height: 1400px;
    height: auto;
    word-wrap: break-word;
    margin: 0 auto;
    display: block;
    overflow: auto;
    /*display: grid;*/
    display: flex;
    grid-template-rows: repeat(4, 500px);
    grid-template-columns: repeat(4, 500px);
    text-align: center;

    .card-body {
        background-color: rgba(27, 135, 185, 0.589);

    }

    h5 {
        text-align: center;
        text-decoration: underline;
    }
}

/*NOSOTROS INICIO*/
.SectionAbout {
    grid-area: section;
    background-color: $primary-color;
    height: auto;
    /*display: grid;*/
    display: flex;
    flex-wrap: wrap;
    grid-template-rows: repeat(1, 300px);
    grid-template-columns: repeat(2, 300px);
    /* justify-items: center;*/
    margin-top: 100px;
    margin-bottom: 100px;


    #card1, #card2, #card3, #card4 {
        margin-right: 30px;
        margin-left: 30px;
    }

}

/*SERVICIOS INICIO*/
.Servicios_ {
    min-height: 630px;
    grid-area: section;
    /* display: grid;*/
    display: flex;
    grid-template-rows: repeat(4, 150px);
    grid-template-columns: repeat(4, 150px);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 30px;

    .Card {
        width: 20rem;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-right: 30px;

        .card-text {
            height: 120px;
        }
    }

    h5 {
        text-align: center;
    }

    a {
        margin-left: 100px;
    }
}




/*PLANES INICIO*/
.SectionPlanes {
    grid-area: section;
    min-height: 610px;
    /* display: grid;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(4, 400px);
    grid-template-columns: repeat(4, 400px);
    margin-bottom: 30px;


    .div {
        margin-bottom: 50px;
        margin-top: 50px;
    }

    h3 {
        text-align: center;
        text-decoration: underline;
    }

    a {
        margin-left: 100px;
    }
    #Plan1, #Plan2, #Plan3 {
        margin-right: 50px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
}


.Tarjeta {
    width: 300px;
    padding-right: 10px;

    @media (max-widht: 480px) {
        grid-template-columns: repeat(1 / span 3);
    }

}

/*PORTAFOLIO*/
.Container-Img {
    width: $full-width;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;



}

.Container-Img .Box-Img {
    figure {
        width: $full-width;
        height: $full-height;

    }

    img {
        width: $full-width;
        height: $full-height;
        object-fit: cover;
        transition: 0.5s;
        object-fit: cover;
    }


    img:hover {
        transform: scale(1.2);
    }
}


.Container-Img .Box-Img:nth-child(1) {
    grid-column-start: span 2;
}

.Container-Img .Box-Img:nth-child(4) {
    grid-row-start: span 2;
}

@media screen and (max-width:800px) {
    .Container-Img {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-rows: 200px;
    }

    .Container-Img .Box-Img:nth-child(1) {
        grid-column-start: span 1;
    }
}

@media screen and (max-width:500px) {
    .Container-Img {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }

    .Container-Img .Box-Img img {
        height: 200px;
        width: 200px;
        
    }
}